@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.Objective{
  width: 90%;
  margin: auto;
}

.whiteBg{
  background-color: white;
  border-radius: 5px;
  padding: 3px 3px;
  box-shadow: 2px 2px 5px #888888;
}
